<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gabriel Isleno</title>
</head>
<body>

  <div class="col-lg-8 mx-auto p-4 py-md-5">
    <header class="d-flex justify-content-between pb-3 mb-5 border-bottom">

      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">{{ "RESUME" | translate }}</span>
      </a>

      <div class="d-flex flex-row align-items-center">
        <img class="mx-2" src="/assets/icons/language-solid.svg" alt="lang" width="32px">
        <button class="btn btn-link" (click)="toggleTranslation()">{{ "LANG" | translate }}</button>
      </div>
    
    </header>
  
    <main>
      <h2><b>Gabriel Isleño</b></h2>

      <p class="fs-5 col-md-8">Rosario, Santa fe - Argentina</p>
      <p class="fs-5 col-md-8">E-mail: <a href="mailto:isleno.gabriel@gmail.com">isleno.gabriel@gmail.com</a></p>
      <p>30 Jul 1994</p>
      <p>{{ "AGE" | translate : {age} }}</p>
      
      <hr class="col-3 col-md-2">
  
      <p>{{ "GRADE.TITLE" | translate }}</p>
      <p>{{ "GRADE.DESCRIPTION" | translate }}</p>

      <div class="row">
      
        <h4><b>{{ "KNOWLEDGE.TITLE" | translate }}</b></h4>
        <ul>
          <li>{{ "KNOWLEDGE.FRONTEND" | translate }}</li>
          <li>{{ "KNOWLEDGE.BACKEND" | translate }}</li>
          <li>{{ "KNOWLEDGE.DOCKER" | translate }}</li>
          <li>{{ "KNOWLEDGE.ANDROID" | translate }}</li>
          <li>{{ "KNOWLEDGE.LINUX" | translate }}</li>
        </ul>
        
        <hr class="col-3 col-md-2">

        <h4><b>{{ "EXPERIENCE.TITLE" | translate }}</b></h4>
        
        <div>
          <h5>{{ "EXPERIENCE.LIKIDA.TITLE" | translate }}</h5>
          <p>{{ "EXPERIENCE.LIKIDA.DESCRIPTION" | translate }}</p>
        </div>
        
        <div>
          <h5>{{ "EXPERIENCE.MANGOO.TITLE" | translate }}</h5>
          <p>{{ "EXPERIENCE.MANGOO.DESCRIPTION" | translate }}</p>
        </div>

        <div>
          <h5>{{ "EXPERIENCE.TUX.TITLE" | translate }}</h5>
          <p>{{ "EXPERIENCE.TUX.DESCRIPTION" | translate }}</p>
        </div>

        <div>
          <h5>{{ "EXPERIENCE.TUCUOTA.TITLE" | translate }}</h5>
          <p>{{ "EXPERIENCE.TUCUOTA.DESCRIPTION" | translate }}</p>
        </div>

        <div>
          <h5>{{ "EXPERIENCE.JUBBLER.TITLE" | translate }}</h5>
          <p>{{ "EXPERIENCE.JUBBLER.DESCRIPTION" | translate }}</p>
        </div>

        <hr class="col-3 col-md-2">

        <div>
          <h5><b>{{ "LANGUAGES.TITLE" | translate }}</b></h5>
          <p>{{ "LANGUAGES.DESCRIPTION" | translate }}</p>
        </div>

        <hr class="col-3 col-md-2">

        <div>
          <h5><b>Hobbies</b></h5>
          <p>{{ "HOBBIES.GAMEDEV" | translate }} <a href="https://gaboisleno.itch.io/">gaboisleno.itch.io</a></p>
          <p>{{ "HOBBIES.PIXELART" | translate }} <a href="https://twitter.com/gaboisleno">@Gaboisleno</a></p>
          <p>{{ "HOBBIES.SERVER" | translate }}</p>
        </div>

      </div>

    </main>
    <footer class="pt-5 my-5 text-muted border-top">
      
    </footer>
  </div>
  

</body>
</html>